* {
  margin: 0;
  padding: 0; }

html, body {
  width: 100%;
  height: 100%; }

.container {
  width: 100%;
  height: 100%;
  display: -webkit-flex;
  -webkit-flex-direction: column; }
  .container header {
    width: 100%;
    height: 187px;
    background-size: 100% auto;
    position: relative; }
    .container header img {
      width: 100%;
      height: 187px; }
    .container header a {
      font-size: 14px;
      position: absolute;
      left: 0;
      right: 0;
      bottom: 20px;
      margin: 0 auto;
      display: inline-block;
      width: 120px;
      height: 30px;
      background: #fff;
      border-radius: 20px;
      text-align: center;
      line-height: 30px;
      text-decoration: none;
      color: red; }
  .container section {
    width: 100%;
    height: 100%;
    flex: 1;
    -webkit-flex-direction: column;
    overflow-y: auto; }
    .container section .head {
      width: 100%;
      height: 40px;
      display: -webkit-flex;
      line-height: 40px; }
      .container section .head span {
        display: inline-block;
        width: 3px;
        height: 30px;
        background: orange;
        margin-left: 5px;
        margin-top: 5px; }
      .container section .head b {
        margin-left: 5px;
        font-weight: 100;
        font-size: 18px; }
    .container section .one-list {
      width: 100%; }
      .container section .one-list div {
        width: 95%;
        display: -webkit-flex;
        margin: 0 auto;
        text-align: center;
        line-height: 40px; }
        .container section .one-list div a {
          flex: 1;
          text-decoration: none;
          color: #999999;
          border: 1px solid #ccc;
          margin-left: -1px;
          margin-top: -1px; }
    .container section .cent {
      width: 100%;
      height: 40px;
      display: -webkit-flex;
      line-height: 40px; }
      .container section .cent span {
        display: inline-block;
        width: 3px;
        height: 30px;
        background: orange;
        margin-left: 5px;
        margin-top: 5px; }
      .container section .cent b {
        margin-left: 5px;
        font-weight: 100;
        font-size: 18px; }
    .container section .dl-list {
      width: 100%;
      display: -webkit-flex; }
      .container section .dl-list ul {
        margin-top: 5px;
        width: 100%; }
        .container section .dl-list ul li {
          list-style: none;
          display: -webkit-flex;
          margin-top: 5px;
          text-align: center; }
          .container section .dl-list ul li dl {
            flex: 1;
            margin: 0 auto; }
            .container section .dl-list ul li dl dt {
              margin-bottom: 5px; }
              .container section .dl-list ul li dl dt img {
                width: 100px;
                height: 97px; }
            .container section .dl-list ul li dl dd {
              font-size: 13px; }
    .container section .foot {
      width: 100%;
      height: 40px;
      display: -webkit-flex;
      line-height: 40px; }
      .container section .foot span {
        display: inline-block;
        width: 3px;
        height: 30px;
        background: orange;
        margin-left: 5px;
        margin-top: 5px; }
      .container section .foot b {
        margin-left: 5px;
        font-weight: 100;
        font-size: 18px; }
    .container section .foot-one {
      width: 100%; }
      .container section .foot-one dl {
        width: 100%;
        display: -webkit-flex;
        margin-top: 20px;
        margin-left: 5px; }
        .container section .foot-one dl dt img {
          width: 88px;
          height: 88px; }
        .container section .foot-one dl dd {
          width: 100%;
          margin-left: 10px; }
          .container section .foot-one dl dd span {
            color: #333; }
          .container section .foot-one dl dd a {
            display: inline-block;
            border: 1px solid orange;
            width: 32px;
            height: 22px;
            color: orange;
            text-decoration: none;
            border-radius: 5px;
            text-align: center;
            line-height: 22px; }
          .container section .foot-one dl dd ul li {
            list-style: none;
            line-height: 30px;
            position: relative; }
            .container section .foot-one dl dd ul li i {
              font-style: normal;
              margin-left: 20px;
              color: #333333;
              font-size: 13px; }
            .container section .foot-one dl dd ul li em {
              font-style: normal;
              position: absolute;
              right: 10px;
              color: #333333;
              font-size: 13px; }
            .container section .foot-one dl dd ul li b {
              font-weight: 100;
              font-size: 14px; }

.box {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  background: #fff; }

.head_one {
  width: 100%;
  height: 44px;
  background: orange;
  position: relative;
  line-height: 44px;
  display: -webkit-flex; }
  .head_one i {
    font-size: 30px;
    color: #fff0f0;
    font-weight: 900;
    margin-top: 7px;
    margin-left: 8px; }
  .head_one b {
    position: absolute;
    right: 0;
    left: 0;
    text-align: center;
    color: #fff0f0;
    font-size: 21px; }

.cen-one {
  width: 100%;
  flex: 1;
  display: -webkit-flex;
  -webkit-flex-direction: column; }
  .cen-one .one-one {
    width: 100%;
    margin: 15px; }
    .cen-one .one-one dl {
      display: -webkit-flex; }
      .cen-one .one-one dl dt img {
        width: 80px;
        height: 80px; }
      .cen-one .one-one dl dd {
        margin-left: 10px; }
        .cen-one .one-one dl dd p {
          margin-top: 13px; }
  .cen-one .one-two {
    width: 100%;
    height: 40px;
    line-height: 40px; }
    .cen-one .one-two i {
      margin-left: 5px;
      margin-top: 8px;
      color: orange;
      margin-right: 10px; }
  .cen-one .one-three {
    width: 100%;
    line-height: 44px; }
    .cen-one .one-three ol li {
      list-style: none;
      line-height: 44px;
      position: relative; }
      .cen-one .one-three ol li b {
        color: #999;
        margin-left: 10px; }
      .cen-one .one-three ol li i {
        position: absolute;
        right: 10px;
        top: 10px;
        color: #ccc; }
      .cen-one .one-three ol li span {
        margin-left: 30px; }

/*# sourceMappingURL=demo.css.map */
